<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiesu.securityserver.mapper.SysAccountMapper">

  <!-- 通用查询映射结果 -->
  <select id="findByUK" resultMap="BaseResult_Map">
    select sa.id,
    sa.version,
    sa.delete_flag,
    sa.create_time,
    sa.update_time,
    sa.pwd,
    sa.account_id,
    sa.pwd,
    sa.mail,
    sa.tel,

    sr.id as sr_id,
    sr.version as sr_version,
    sr.delete_flag as sr_delete_flag,
    sr.create_time as sr_create_time,
    sr.update_time as sr_update_time,
    sr.role_name,
    sr.role_desc

    from sys_account sa
    inner join sys_account_role sar on
    sar.delete_flag = 0 and
    sa.account_id = sar.account_id
    inner join sys_role sr on
    sr.delete_flag = 0 and
    sar.role_name = sr.role_name

    where sa.delete_flag = 0
    <if test="account.id !=null ">
      and sa.id=#{account.id}
    </if>
    <if test="account.accountId !=null">
      and sa.account_id = #{account.accountId}
    </if>
    <if test="account.mail !=null">
      and sa.mail=#{account.mail}
    </if>
    <if test="account.tel !=null">
      and sa.tel=#{account.tel}
    </if>


  </select>

  <resultMap id="BaseResult_Map" type="com.xiesu.securityserver.entity.SysAccount">
    <result column="id" property="id"/>
    <result column="version" property="version"/>
    <result column="delete_flag" property="deleteFlag"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
    <result column="account_id" property="accountId"/>
    <result column="pwd" property="pwd"/>
    <result column="mail" property="mail"/>
    <result column="tel" property="tel"/>

    <!-- 这种方式的级联查询效率高，但分页不正确，子表字段名重复需要重命名-->
    <collection property="roleSet" ofType="com.xiesu.securityserver.entity.SysRole">
      <id column="sr_id" property="id"/>
      <result column="sr_version" property="version"/>
      <result column="sr_delete_flag" property="deleteFlag"/>
      <result column="sr_create_time" property="createTime"/>
      <result column="sr_update_time" property="updateTime"/>
      <result column="role_name" property="roleName"/>
      <result column="role_desc" property="roleDesc"/>
    </collection>
  </resultMap>


  <sql id="BaseField">
    id
    ,version,delete_flag,create_time,update_time,account_id,pwd,mail,tel
  </sql>

</mapper>
